/*propiedades body*/

body {
    background-color: rgb(241, 234, 234) ;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
