/*PROPIEDADES H1 SOBRE EN FORMULARIO*/

h1.tituloForm{
    margin-top: 100px;
}



/*propiedades iconos redes*/

div.redes20{
    display: flex; 
    justify-content: start; 
    flex-direction: column;
    align-items: center;
}
.redes {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 15%;
    margin-bottom: 15px;
}

.redes:hover{
    scale: 1.3;
    transition: 0.2s;
    cursor: pointer;
}

a.redesN {
    text-align: center;
}



.redes20 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.redes10{
    display: flex;
    flex-direction: column;
}

.redes3{ text-decoration: none;
            color: rgb(76, 128, 76);

}

.redes3:hover{
    color: green; cursor: pointer;
}


/* propiedades formulario de contacto */

div h2.formu{
    display: flex;
    justify-content: center; 
    margin-bottom: 100px; 
    margin-top: 200px;
}

.formulario{
    margin-top: 75px;
    width: 1000px;
}

textarea, input{
    border: solid green 1px;
}

input:hover{ 
    background-color: rgb(106, 187, 106);
}

textarea:hover{ 
    background-color: rgb(106, 187, 106);
}

button{
    background-color: rgb(46, 192, 46);
}

label {
    color: green;
}

/*ubicacion mapa*/

iframe{
        margin-top: 40px; 
        margin-bottom: 75px;
}

/*Titulo sobre el mapa*/

p.direccion{
    display: flex; 
    justify-content: center;
    font-size: 30px; 
    color: rgb(40, 126, 40); 
    text-decoration: underline;
    margin-top: 100px;
    margin-bottom: 100px;
}






