/* propiedades encabezado y navegacion */

header div div {
    display: flex;
    align-items: center;
        div a img{
            width: 100px; 
            height: 100px;
    }
     div p{
        display: flex;
        justify-content: flex-start;
    }
    nav {
        display: flex; 
        ul {
            display: flex; 
            justify-content: end;
            li{
                padding: 20px;
                background-color: white;
                a{
                    color: green;
                    text-decoration: none;
                }
            }
            
        }
    }
}


li a:hover{
    font-weight: bold;
}


/*medidas para el logo*/
    
body header div a img.logo {
        width: 150px;
        height: 150px;
}
    
/*color nombre logo*/
    
.tituloLogo{ 
    color: rgb(7, 107, 7);
    font-weight: bold;
}

.titulo22{
        color: rgb(7, 107, 7);
        padding-right: 10px;
} 

.log{
    border-radius: 10%;
}    

/* estilo nav*/

.paginas {
    list-style-type: none;
}    
    

.nav-link {
        color: green;
}
        
li.nav-item {
    padding: 8px;
}     

.respon{
    position: absolute;
    display: flex; justify-content: end;
    margin-top: 75px;

}
.respon2{ 
    position: absolute;
    display: flex; justify-content: end;
    margin-top: 90px;
    height: 20px;  
}