/*MEDIAS QUERIES*/

@media (max-width: 480px){
    li {
        display: flex; 
        flex-direction: column;
    }
}
@media (max-width: 480px) { 
    header div div nav ul {
        display: flex; 
        flex-direction: column; 
        padding-left: 0px; 
} 
}
    
@media (max-width: 480px) {
    header div div nav ul li a { 
        font-size: 13px; 
        line-height: 0%; 
        text-align: center; 
        padding: 1px;
     }
} 

@media (min-width: 481px) {
     header div div nav {
        display: flex; 
        justify-content: flex-end;
}
    
}
@media (max-width: 480px) {
   div p.nombre{
       text-align: center; 
       padding-left: 0px;
    }
}

@media (max-width: 480px) {
     .papas11{
         text-align: center;
     }  .imgT {
        text-align: center;
     }
     .precio {
        margin-top: 15px;
     }
     div.redes10 { display: flex;
        text-align: center; 
        margin-top: 100px; 
        margin-bottom: 100px;
     }
 }

 @media (max-width: 480px) {
     footer div div b.referencia { 
       line-height: normal;   
     }
 }


 @media (max-width: 480px){
     h2.historia {
       margin-top: 100px; 
 } 
 }

 @media (max-width: 480px){
     p.cosecha {
       margin-top: 40px; 
 } 
 }
 
 
ul.responsive{
    display: none;
  }
  
  @media (max-width: 480px){
    ul.desktop {
      display: none;
    } 
  }
   
  @media (min-width: 480px) {
    .respon {
      display: none;
    }
  }
  @media (min-width: 480px) {
    .respon2 {
      display: none;
    }
  }
  @media (max-width: 480px){
    h1 {
      margin-top: 50px;
    } 
  }
  @media (max-width: 480px){
    h1.formu {
      margin-top: 75px;
    } 
  }
  @media (max-width: 480px){
    #logo {
      margin-top: 75px;
    } 
  }

  @media (max-width: 480px){
    .tituloLogo{
      display: none;
    }
  }