 /* propiedades contenido principal nosotros */

.historia{
    margin-top: 50px;
}
.imghistoria{
    margin-top: 35px;
}

/*estilo titulo video*/

.cosecha{
    font-size: 22px; 
    color:rgb(40, 126, 40); 
    text-decoration: underline; 
    margin-bottom: 50px;
}

/*ubicacion foto seccion nosotros*/

.papaAcampo{
    width: 320px; 
    height: 320px; 
    display: block;
}
p.cosecha{
    margin-top: 100px;
}