/*estilos nuestros productos*/

.imgT{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto{
    width: 300px; 
    height: 300px; 
    display: inline-block; 
    padding: 10px;
}
.contenedorTienda{
    display: flex;
    justify-content: center;
}
.IrAtienda{
    font-size: 22px;
    margin-top: 75px;
    margin-bottom: 75px;
    color: green;
}
h2.comprar{
    text-decoration: underline; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 60px;
}
p.descrip {
    visibility: hidden;
    text-align: center;
    color: green;
    margin-top: -10px;
  }
   
.imgT:hover p {
    visibility: visible;
  }

/*ANIMACION FOTO PRODUCTOS*/
.imgProducto:hover{
    scale: 1.2; 
    cursor: pointer; 
    transition: 0.5s;
    
}