/*estilos nuestros productos*/

.imgProducto{
    width: 300px; 
    height: 300px; 
    display: inline-block; 
    padding: 50px;
}
.IrAtienda{
    font-size: 22px;
}
h3{
    text-decoration: underline; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 60px;
}