/* propiedades seccion principal */

main section div {
    display: flex;
    justify-content: center;
     article{
        display: flex;
         justify-content: center;
    }
}
/*propiedades para el parrafo debajo de nuestro h1*/


.parrafo {
    color: white; 
    font-family: 'Roboto', sans-serif;
    width: 800px;
    background-color: $color-principal;
    padding: 30px 15px ; 
    font-size: 18px; 
    font-weight:lighter;
    border-radius: 7px; 
    margin-bottom: 40px;
    }



/*tamaño fotos del index*/
body section img{
    width :$size-foto-destacados;
    height: $size-foto-destacados;
     padding: 15px;
}

/*estilos para los textos de las fotos del index*/


.nombre{
    padding-left: 100px;
    font-weight: bold;
}

p.irAseccion{ 
    font-size: 24px; 
    text-decoration: underline; 
    padding-top: 30px;
}
/*ANIMACIONES*/

.papas11:hover{
    scale: 1.1;
    cursor: pointer;
    transition: 0.5s;
}
.nombre:hover{
    color: green;
    cursor: pointer;
    text-decoration: underline;
}

.parrafo{
    background: linear-gradient( rgb(32, 105, 32), rgb(3, 141, 3));
}

/*ubicacion boton subir*/

a.subir{ 
    display: inline; 
    padding-left: 25px;
}