/*disposicion de las fotos de la tienda*/



div.tienda10{
    display: flex;
    justify-content: center; 
    align-items: center;
}  
a.link {
    padding-left: 15px;
}

/*propiedades para los elementos debajo de las fotos de la tienda*/

.precio{
    text-align: center; 
    background-color: rgb(153, 243, 183);
}

div div#precio2{
    width: 100px; 
    margin: auto;
}

#carrito {
    width: 30px; 
    height: 30px; 
    margin-left: 30px; 
    margin-bottom: 15px; 
    border: 1px solid black;
}

.precio{
    margin-top: 15px;
}

/*ANIMACIONES TIENDA*/

.imgT:hover { 
    scale: 1.1;
    transition: 0.3s;
}

#carrito:hover{ 
    cursor: pointer; 
    scale: 1.2; 
    border: 2px solid rgb(2, 75, 35) ;
}

.precio:hover{
    color: rgb(45, 10, 110);
    cursor: pointer; 
    text-decoration: underline;
}